@import 'open-props/postcss/style';
@import 'open-props/normalize.min.css';
@import 'open-props/buttons.min.css';

body {
  padding: 0.5rem;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 1.5rem;
}
